<footer class="bg-gray-300 py-6 text-center text-gray-700 dark:bg-gray-700 dark:text-gray-300">
  <div class="container mx-auto">
    <p class="mb-2"><strong>Created by Mario Velasco.</strong></p>
    <ul class="mb-4 flex justify-center space-x-6">
      <li>
        <a routerLink="/landing" class="hover:underline">My Profile</a>
      </li>
      <li>
        <a
          href="https://github.com/mario1velasco"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Visit my GitHub profile"
          class="text-gray-500 transition duration-300 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
        >
          <ui-icon name="github" size="1.5rem"></ui-icon>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/mariovelascoalonso/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Visit my LinkedIn profile"
          class="text-gray-500 transition duration-300 hover:text-blue-600 dark:text-gray-400 dark:hover:text-blue-400"
        >
          <ui-icon name="linkedin" size="1.5rem"></ui-icon>
        </a>
      </li>
      <li>
        <a
          href="mailto:mario1velasco@gmail.com"
          aria-label="Send me an email"
          class="text-gray-500 transition duration-300 hover:text-red-600 dark:text-gray-400 dark:hover:text-red-400"
        >
          <ui-icon name="mail" size="1.5rem"></ui-icon>
        </a>
      </li>
    </ul>
    <p class="text-sm">&copy; {{ currentYear }} Mario Velasco. All rights reserved.</p>
  </div>
</footer>
