<div class="min-h-screen bg-white dark:bg-gray-800">
  <div class="mx-auto max-w-3xl p-4">
    <h1 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">
      {{ 'landing.title' | translate }}
    </h1>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      <div
        *ngForTranslate="let item; from: 'landing.jobs'; let key = index"
        tabindex="0"
        class="cursor-pointer rounded-lg bg-gray-100 p-4 dark:bg-gray-700"
        (click)="openDialog(item.title, 'landing.jobs.' + key + '.key-points')"
        (keyup.enter)="
          openDialog(item.title, 'landing.jobs.' + key + '.key-points')
        "
      >
        <h2 class="mb-2 text-xl font-medium text-gray-900 dark:text-white">
          {{ item.title | translate }}
        </h2>
        <p class="text-gray-700 dark:text-gray-400">
          {{ item.description | translate }}
        </p>
      </div>
    </div>
    @if (dialogOpen) {
      <ui-dialog
        [isOpen]="dialogOpen"
        [title]="dialogTitle"
        (confirm)="closeDialog()"
        [confirmButtonText]="'Cerrar'"
        [hideCancelButton]="true"
      >
        <ul class="mt-2 list-inside list-disc text-gray-700 dark:text-gray-400">
          <li
            *ngForTranslate="
              let keyPoint;
              from: listKey;
              let keyPointKey = index
            "
          >
            {{ keyPoint }}
          </li>
        </ul>
      </ui-dialog>
    }
    <div class="mb-6">
      <h2 i18n class="mb-2 text-xl font-medium text-gray-900 dark:text-white">
        {{ 'landing.skills.title' | translate }}
      </h2>
      <div class="flex flex-wrap gap-2">
        <span
          *ngForTranslate="let skill; from: 'landing.skills.types'"
          class="mr-2 rounded bg-gray-200 px-2.5 py-0.5 text-sm font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-200"
        >
          {{ skill | translate }}
        </span>
      </div>
    </div>
  </div>
</div>

<!-- <div class="min-h-screen bg-white dark:bg-gray-800">
  <div class="mx-auto max-w-3xl p-4">

    <section class="mb-6">
      <h2 i18n class="mb-2 text-xl font-medium text-gray-900 dark:text-white">
        Frontend Manager
      </h2>
      <p i18n class="text-gray-700 dark:text-gray-400">
        BizAway · Full-time · Jul 2023 - Dec 2024 · Vigo, Galicia, Spain ·
        Remote
      </p>
      <ul class="mt-2 list-inside list-disc text-gray-700 dark:text-gray-400">
        <li i18n>
          Managed and provided technical leadership to 4 front-end development teams.
        </li>
        <li i18n>
          Played a key role in scaling the company's engineering organization.
        </li>
        <li i18n>
          Defined and implemented front-end development standards and best
          practices.
        </li>
        <li i18n>Collaborated with cross-functional teams.</li>
        <li i18n>Actively participated in design reviews using Figma.</li>
        <li i18n>Mentored and developed junior and mid-level developers.</li>
        <li i18n>Conducted performance reviews.</li>
        <li i18n>Developed Bitbucket pipelines for CI/CD.</li>
        <li i18n>Drove innovation within the team.</li>
      </ul>
    </section>

    <section class="mb-6">
      <h2 i18n class="mb-2 text-xl font-medium text-gray-900 dark:text-white">
        Front-End Team Lead
      </h2>
      <p i18n class="text-gray-700 dark:text-gray-400">
        May 2022 - Jun 2023 · Vigo, Galicia, Spain
      </p>
      <ul class="mt-2 list-inside list-disc text-gray-700 dark:text-gray-400">
        <li i18n>Established NX monorepo for front-end projects.</li>
        <li i18n>Created an Angular library using Jest for unit testing.</li>
        <li i18n>Created UI Libraries for E2E tests (Cypress & Storybook).</li>
        <li i18n>
          Architected the main Angular App as a micro-front-end project.
        </li>
        <li i18n>
          Led code reviews, and task assignments, and mentored junior
          developers.
        </li>
      </ul>
    </section>

    <section class="mb-6">
      <h2 i18n class="mb-2 text-xl font-medium text-gray-900 dark:text-white">
        Front-End Angular Developer
      </h2>
      <p i18n class="text-gray-700 dark:text-gray-400">
        Jan 2021 - May 2022 · Vigo, Galicia, Spain
      </p>
      <ul class="mt-2 list-inside list-disc text-gray-700 dark:text-gray-400">
        <li i18n>
          Developed and maintained two AngularJS apps for travel products.
        </li>
        <li i18n>
          Analyzed business logic for impending migration to Angular 15.
        </li>
        <li i18n>Collaborated with CTO, UI, and customer success teams.</li>
      </ul>
    </section>

    <div class="mb-6">
      <h2 i18n class="mb-2 text-xl font-medium text-gray-900 dark:text-white">
        Skills
      </h2>
      <div class="flex flex-wrap gap-2">
        <span
          i18n
          class="mr-2 rounded bg-gray-200 px-2.5 py-0.5 text-sm font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-200"
        >
          Angular
        </span>
        <span
          i18n
          class="mr-2 rounded bg-gray-200 px-2.5 py-0.5 text-sm font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-200"
        >
          React
        </span>
        <span
          i18n
          class="mr-2 rounded bg-gray-200 px-2.5 py-0.5 text-sm font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-200"
        >
          Ruby on Rails
        </span>
        <span
          i18n
          class="mr-2 rounded bg-gray-200 px-2.5 py-0.5 text-sm font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-200"
        >
          Tailwind CSS
        </span>
        <span
          i18n
          class="mr-2 rounded bg-gray-200 px-2.5 py-0.5 text-sm font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-200"
        >
          Cypress
        </span>
        <span
          i18n
          class="mr-2 rounded bg-gray-200 px-2.5 py-0.5 text-sm font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-200"
        >
          Jest
        </span>
        <span
          i18n
          class="mr-2 rounded bg-gray-200 px-2.5 py-0.5 text-sm font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-200"
        >
          NgRx
        </span>
        <span
          i18n
          class="mr-2 rounded bg-gray-200 px-2.5 py-0.5 text-sm font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-200"
        >
          RxJS
        </span>
        <span
          i18n
          class="mr-2 rounded bg-gray-200 px-2.5 py-0.5 text-sm font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-200"
        >
          Team Management
        </span>
        <span
          i18n
          class="mr-2 rounded bg-gray-200 px-2.5 py-0.5 text-sm font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-200"
        >
          Test
        </span>
      </div>
    </div>
  </div>
</div> -->
